POSTGRES_DB=ft_transcendence
POSTGRES_USER=ft_user
POSTGRES_PASSWORD=ft_password
POSTGRES_PORT=5432

REDIS_PORT=6380
HTTPS_PORT=8443

DJANGO_SECRET_KEY=change-me-in-production-very-secret-key
DJANGO_DEBUG=True
PUBLIC_APP_ORIGIN=https://localhost:8443
DJANGO_ALLOWED_HOSTS=*
CORS_ALLOW_ALL_ORIGINS=True
CORS_ALLOWED_ORIGINS=
CSRF_TRUSTED_ORIGINS=

OAUTH_42_CLIENT_ID=
OAUTH_42_CLIENT_SECRET=
OAUTH_42_REDIRECT_URI=

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=noreply@4i2e-arena.com

FRONTEND_URL=
GAME_SESSION_TTL_SECONDS=1800
